# Rust specific files
/target
**/*.rs.bk

# Rust test output
**/debug/
**/release/
/tests/target/

# Environment files
**/.env
**/*.env

# Common backups
*.bak
*.tmp
*.swp
*.swo

# IDE specific metadata
.idea/
*.iml

# System/OS files
.DS_Store
Thumbs.db

# Git specific files
*.patch
